/*----fonts---*/
$mfont: "Avenir Next W01", sans-serif;
$pfont: "brandon-grotesque",sans-serif;

/*-----colors-----*/
$dpurple:           #1f1844;
$mpurple:           #58396b;
$lpurple:           #bcb0c4;
$lighterpurple:     #eeebf0;
$orange:            #f4ba46;
$dorange:           #e2aa3a;
$gray:              #4e4e4e;
$goodgreen:         #57a747;
$badred:            #c73434;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'brandon-grotesque', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
